plugged/
configstore/
fishd.*
vim/.netrwhist
dotfiles/gnupg/*
!dotfiles/gnupg/gpg.conf
!dotfiles/gnupg/gpg-agent.conf
log/*
!log/.keep
!dotfiles/config/gatsby/config.json
dotfiles/config/gatsby/*
dotfiles/config/gh
dotfiles/config/iterm2
dotfiles/config/netlify
dotfiles/config/op
dotfiles/config/yarn
dotfiles/sh_opploans
