plugged/
configstore/
fishd.*
vim/.netrwhist
config/netlify
dotfiles/gnupg/*
!dotfiles/gnupg/gpg.conf
!dotfiles/gnupg/gpg-agent.conf
log/*
!log/.keep
dotfiles/config/gatsby/*
!dotfiles/config/gatsby/config.json
dotfiles/config/yarn
/dotfiles/config/gh
/dotfiles/config/iterm2
/dotfiles/sh_opploans
