#!/bin/bash

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
softwareupdate --install-rosetta --agree-to-license
{{ end }}

{{ if (eq .chezmoi.os "darwin") -}}
# Set default screenshot location
defaults write com.apple.screencapture "location" -string "~/Documents/Screenshots" && killall SystemUIServer

brew bundle
{{ end -}}
